@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:ital,wght@0,200;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #ebefc9;
}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.DivLateral,
.DivLateralLogin,
.DivLateralPt2 {
    border-width: 2px;
    width: 50%;
    height: 100vh;
    background-color: #bde0fe;
    float: left;
}

.DivA, .DivA2 {
    border-width: 2px;
    width: 50%;
    height: 100vh;
    left: 0px;
    background: linear-gradient(90deg, #000633 0%, #000f84 39%, #3627d9 68%, #bde0fe 99%);
    background-size: 200% 20% 0%;
    animation: colors 15s ease infinite;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.DivAContent{
    text-align: center;
    color: #ffffff;
}

.DivA img, .DivA2 img {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.DivA p, .DivA2 p{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}


.loginLink{
    color: #fff;
    text-decoration: none;
}
.loginLink:hover{
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 85vh;
    margin: 70px auto;
    background-color: #edf2fb;
    border-radius: 20px;
}

.containerLogin {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.DivLateral .container h1{
    font-size: 3.5rem;
    color: #000;
    font-family: 'Roboto Mono', monospace;
    margin-top: 2rem;
}
.containerLogin h1{
    font-size: 3.5rem;
    color: #000;
    font-family: 'Roboto Mono', monospace; 
    margin-bottom: 1rem;
}

.container #h1Pt2 {
    margin-top: 1.5rem;
    font-size: 2.7rem;
    color: #000;
    font-family: 'Roboto Mono', monospace;
}

#selectMfa {
    text-decoration: none; 
    padding: 0; 
    margin-top: 35px;
    cursor: pointer;
}

.buttonELink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerLogin #h1Login {
    margin-top: 5rem;
}

.container label {
    margin-top: 1.5rem;
}

.webhook {
    align-self: flex-start;
    margin-top: 1.5rem;
}

#duvida {
    border: 1.5px solid transparent;
    color: #fff;
    font-size: .88rem;
    padding-left: 5.1px;
    padding-right: 5.1px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    margin-top: -.5px;
    margin-left: 5px;
    background-color: #00b4d8;
}

#duvida:hover {
    background-color: #023e8a;
    color: #fff;
    border: 1.5px solid transparent;
}

#inputHook {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0096c7
}

.container input {
    background-color: transparent;
    border: 2px solid #000633;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    height: 2rem;
    font-size: 1rem;
    outline: none;
}

.popUp {
    z-index: 999;
    background-color: #fff;
    width: 75%;
    height: 85%;
    position: fixed;
    border-radius: 10px;
    display: none;
    box-shadow: 0 3px 6px #00000029, 0 1px 2px #0000003b;
}

#close {
    background-color: transparent;
    border: 0;
    font-size: 2rem;
    color: red;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.carrossel {
    display: flex;
    width: 1000px;
    margin: 40px auto 0 auto;    
}

.btnPassar {
    font-size: 2rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 0;
    background-color: #023e8a;
    transition: .3s;
    margin: auto 0;
    color: #fff;
}

.btnPassar:hover {
    background-color: #90e0ef;
    color: #000;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 490px;
    overflow: hidden;
    display: flex;
}

#explicacao {
    font-size: 1.1rem;
}

.slides {
    width: 400%;
    height: 400px;
}

.slide {
    width: 25%;
}

.slide img {
    width: 800px;
}

#selectPorte {
    margin-top: 2.1rem;
}

.spanAviso {
    font-size: .89rem;
    margin-top: 3px;
}

.containerLogin .inputLogin {
    align-self: center;
    padding: 3px 3px 3px 1.5px;
    height: 2.5rem;
    width: 300px;
    background-color: #edf2fb;
    border: 2px solid #000633;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    outline: none;
    font-family: 'Roboto';
    font-weight: light;
    font-size: 1rem;
}

.containerLogin .labelLogin {
    width: 300px;
    margin-top: 1.5rem;
}
.container .labelCadastroPt2 {
    width: 300px;
    margin-top: 1.5rem;
}

.disabledHover {
    cursor: no-drop;
}

.container button {
    padding: 10px;
    background-color: #000633;
    color: #b4bec9;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 55px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
    font-family: 'Roboto Mono';
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.DivLateralPt2 .container #buttonCad {
    padding: 10px;
    background-color: #000633;
    color: #b4bec9;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
    font-family: 'Roboto Mono';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0 auto;
}

.acessoLogin {
    margin: 1.5rem auto 0 auto;
}

.containerLogin button {
    padding: 10px;
    background-color: #000633;
    color: #b4bec9;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 55px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
    font-family: 'Roboto Mono';
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.formLogin button {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.containerLogin button:hover,
.DivLateralPt2 .container #buttonCad:hover,
.container button:hover {
    transition: .3s;
    color: #ffff;
    background-color: #3627d9;
    cursor: pointer;
}

.linkCadastro:link, .linkCadastro:visited,
.linkLogin:link, .linkLogin:visited {
    color: #000633;
}

.linkCadastro:hover, .linkLogin:hover{
    color: #3627d9;
}

.linkCadastro:active{
    text-decoration: none;
}

.container .safePassword {
    background-color: transparent;
    border: 0;
    font-size: 1.1rem;
    color: #00b4d8;
    cursor: pointer;
    transition: .3s;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -22px;
    margin-left: 47px;
}

.container .safePassword:hover {
    background-color: transparent;
    color: #023e8a;
}

.DivLateral .container p {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1rem;
}

.containerLogin p {
    font-family: 'Roboto Mono', monospace;
    margin-top: 1.5rem;
}

label {
    width: 100%;
    font-size: 1rem;
}

select {
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    margin: 25px 0px 0px 0px;
    background-color: #edf2fb;
    border: 2px solid #000633;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.container .cardCadastro2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.container .cardCadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cadastroEsq {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cadastroDir {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1110px) {
    .DivA {
        display: none;
    }

    .container, .containerLogin {
        width: 100%;
    }

    .DivLateralPt2, .DivLateralLogin {
        border-width: 2px;
        width: 50%;
        height: 100vh;
        background-color: #bde0fe;
        float: left;
    }

    .DivLateral {
        width: 100%;
        height: 100vh;
        background-color: #bde0fe;
        float: left;
        align-items: center;
    }   

    .container .cardCadastro {
        justify-content: space-around;
    }

    .cadastroDir,
    .cadastroEsq {
        width: 40%;
    }
}

@media only screen and (max-width: 900px) {
    .DivA2 {
        display: none;
    }

    .DivLateralPt2, .DivLateralLogin {
        width: 100%;
    }

    form {
        width: 70%;
    }

    .formLogin {
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {

    .DivLateral {
        width: 100%;
        height: 160vh;
        background-color: #bde0fe;
        float: left;
        align-items: center;
    }  

    .DivLateralPt2 {
        height: 175vh;
        background-color: #c1d3fe;
        float: left;
        align-items: center;
    }

    form, .formLogin {
        height: 140vh;
        width: 95%;
        border-radius: 10px;
    }

    .container h1 {
        margin: 0;
    }

    .containerLogin #h1Login {
        margin-bottom: 1.4rem;
    }

    .cardCadastro select {
        width: 85%;
        align-self: center;
    }

    .container button, .containerLogin button {
        margin-top: 5%;
    }

    .formLogin button {
        margin-top: 2rem;
    }

    .container label {
        margin-left: 3.2rem;
    }

    .container input {
        width: 85%;
    }

    .formPt2 {
        height: 163vh;
    }

    .formLogin {
        height: 80vh;
    }

    .DivLateralLogin {
        width: 100%;
        height: 100vh;
        float: left;
        align-items: center;
    }

    .container .cardCadastro {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cadastroEsq,
    .cadastroDir {
        width: 95%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }

    .acessoLogin {
        margin-left: 1rem;
    }

    .container .safePassword {
        margin-top: -2.3rem;
        margin-left: 15.5rem;
    }
}