@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');



* {
  box-sizing: border-box;
  list-style: none;
  border: none;
}

body {
  background-color: #000633;
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  flex-direction: row;
}

.logoNavBar {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  width: 14%;
  height: 100vh;

  font-family: 'Roboto Mono', monospace;
}

.navBarContent {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fotoPerfil {
  margin-bottom: 20%;
}

.fotoPerfil img {
  width: 74px;
}

.contentOpcoes {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.opcaoNavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #fff;

  font-size: 80%;
}

.opcaoNavBar img {
  width: 10%;
  margin-right: 5%;
}

.exit {
  font-size: 80%;
  opacity: 50%;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

.titulo {
    font-family: 'Roboto Mono';
    font-size: 32px;
    font-weight: medium;
}
article {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  width: 15%;
  height: 100vh;
  background-color: #000633;
  float: left;
  flex-direction: column;
  overflow: hidden;
}

i {
  margin-right: 10px;
  font-family: 'Roboto';
}

article .logo img {
  width: 60px;
  height: 60px;
  margin-top: 25px;

}



article .imgUsuario {
  margin-top: 55px;
  margin-bottom: 25px;
  width: 100px;
  height: 100px;
  background-color: #f5f5f5;
  border-radius: 100px;
}

.agora {
  background-color: #f1eded66;
}

article a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 20px;
  margin-top: 30px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Roboto';
}

.lastTool {
  display: flex;
  margin-top: auto;
  margin-bottom: 50px;
  flex-direction: column;
}

aside {
  border-width: 2px;
  width: 85%;
  height: 100vh;
  left: 0px;
  background-color: #c1d3fe;
  float: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: 'Roboto';
}


aside {
  border-width: 2px;
  width: 85%;
  height: 100vh;
  left: 0px;
  background-color: #c1d3fe;
  float: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 auto;
}

.monitor {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 30px;
}

.tituloInformacaoMaquina {
  font-weight: bold;
  font-size: 20px;
  margin-left: 5%;
  font-family: 'RobotoMono', monospace;
}

.allMonitor,
.swiper-slide {
  height: 250px;
  width: 30%;
  border-radius: 25px;
  background-color: #000633;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.graphMonitor {
  height: 250px;
  width: 70%;
  background-color: #e5e5e5;
  border-radius: 25px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.titleDash {
  font-size: 1.5em;
  margin-bottom: 2%;
  color: #000633;
}

.asideMonitor {
  width: 80%;
  margin-left: 7%;
}

.infoMonitor {
  margin-top: 2.5rem;
  height: 175px;
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 4px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.porMetric {
  display: flex;
  justify-content: space-around;
}

.infoMonitor .infoMonitorTitle h1 {
  margin-left: 4%;
  font-weight: lighter;
}

.infoMonitor .infoMonitorDown {
  display: flex;
  align-items: center;
  width: 100%;
  height: 65%;
  margin-left: 50px;
  ;



}


.infoMonitorDown .infoMonitorConfigAll,
.infoMonitorConfig {

  width: 100%;

}

.infoMonitorDown .infoMonitorConfigAll .configSetor1 {
  display: flex;
  justify-content: space-between;

  border-bottom: 0.7px solid #b4bec9;
  width: 80%;
  margin: 0 auto;
}

.infoMonitorDown .infoMonitorConfigAll .configMachine2 {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.tituloInfo{
  font-weight:bold;
  font-size: 15px;
}


span {
  font-weight: lighter;
}

.infoMonitorDown .infoMonitorConfigAll .configMachine2 .one h2 {
  font-weight: lighter;
}

.infoMonitorDown .imgMachine img {

  height: 75px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper.mySwiper {

  border-radius: 6px;
}