@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

:root {
  --grey: #b4bec9;
  --blue-light: #3627d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 3% 1.5% 3% 1.5%;
}

.containerInicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70vh;
}

body {
  background: linear-gradient(125deg, #00041f 17%, #00094c 50%, #3627d9 100%);
  /* background-repeat: no-repeat; */
  background-size: cover;
  max-width: 1920px;
  min-height: 100vh;
  color: #fff;
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.center {
  width: 80%;
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  font-weight: lighter;
}

header img {
  height: 40px;
}

header .container {
  width: 100%;
}

header .container .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navBar ul {
  list-style: none;
  display: inline-block;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 20%;
  gap: 2rem;
}

a {
  list-style: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navBar ul a:nth-child(2) {
  padding: 8px 10px;
  border: 2px solid var(--blue-light);
  color: #fff;
  border-radius: 10px;
}

.navBar ul a:hover:nth-child(2) {
  background-color: var(--blue-light);
}

main {
  grid-area: main;
}

main aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

aside .title {
  color: #ffffff;
  font-size: 52px;
  width: 70%;
  margin-bottom: 5%;
}

aside p {
  margin-top: 20px;
  width: 50%;
  font-size: 24px;
  color: var(--grey);
  font-weight: light;
  margin-bottom: 5%;
}

form {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 60%;
}

form [type='submit'] {
  font-family: 'Roboto';
  font-size: 1.25rem;
  height: 40px;
  width: 30%;
  padding: 4.5px;
  background-color: #a5a5a5;
  color: #fff;
  font-weight: bold;
  transition: all 0.6s;
  text-align: center;
  border-radius: 20px;
}

form [type='submit']:hover {
  cursor: pointer;
  background-color: var(--blue-light);
}

input {
  margin-top: 20px;
  height: 40px;
  width: 600px;
  padding: 0.93rem;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  outline: none;
  background-color: #2f2f30;
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.content {
  grid-area: cont;

  display: flex;
  /*align-items: center;
  justify-content: center; */

  flex-direction: column;
  margin-top: 6rem;
}

.titleHeader {
  font-weight: bold;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
}

.content .title {
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  width: 70%;
  margin-bottom: 3%;
  font-family: 'Roboto';
}

.content p {
  margin-top: 20px;
  text-align: justify;
  color: var(--grey);
  font-size: 1.6rem;
  font-weight: light;
  font-family: 'Roboto';
}

.content span {
  color: #3627d9;
}

article img {
  position: relative;
  top: -20px;
  height: 400px;
  animation: float 3.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.feature {
  margin-top: 100px;
  grid-area: feat;
  display: flex;
  flex-direction: column;
}

.feature .titleFeature {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.titleFeature .title {
  font-weight: bold;
  font-size: 32px;
  font-family: 'Roboto';
}

.titleFeature p {
  color: var(--grey);
  font-size: 1.3rem;
  font-family: 'Roboto';
}

.featureCollection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.featureCollection img {
  height: 400px;
}

.change {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
}

.change .cardFeature {
  margin-top: 15px;
  width: 60%;
  line-height: 30px;
}

.change .cardFeature p {
  color: var(--grey);
  width: 350px;
}

.change .cardFeature .iconTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

ion-icon {
  height: 70px;
}

.change .cardFeature .iconTitle .title {
  font-weight: medium;
  font-size: 1.5rem;
}

footer {
  grid-area: foot;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(125deg, #373738 17%, #232324 50%, #111111 100%);
  margin-top: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 100%;
}

footer h1 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  margin-bottom: 0.8%;
}

footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
  margin-top: 1%;
  font-size: 1.2rem;
}

footer .links1 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

footer .links2 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: flex-start;
  height: 100%;
}

footer .links .location {
  display: flex;
  align-items: center;
}

footer .links .location>ion-icon {
  font-size: 1.7rem;
}

footer .links .phone {
  display: flex;
  align-items: center;
}

footer .links .phone>ion-icon {
  font-size: 1.7rem;
}

footer .links .iconLinks {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

footer .links .iconLinks a {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 0.7rem;
  justify-content: flex-end;
}

@media screen and (max-width: 1440px) {
  .content {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1362px) {
  .featureCollection {
    flex-direction: column;
  }

  .change {
    margin-top: 7%;
  }

  .change .cardFeature p {
    width: 100%;
  }

  @media screen and (max-width: 1164px) {
    article img {
      visibility: hidden;
      width: 0;
      height: 0;
    }

    main aside {
      z-index: 999;
    }

    aside .title {
      width: 100%;
    }

    aside p {
      width: 100;
    }

    nav ul {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    nav.active ul {
      margin: 0;
      padding: 0;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(125deg,
          #00041f 17%,
          #00094c 50%,
          #3627d9 100%);
      /* background-repeat: no-repeat; */
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1000;
      opacity: 1;
      visibility: visible;
      transition: all 0.6s;
    }

    header .toggle {
      position: fixed;
      top: 10px;
      right: 40px;
      width: 50px;
      height: 50px;
      background: #fff url('../img/menu.png');
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;

      z-index: 1001;
      transition: 0.36s;
    }

    header .toggle:hover {
      cursor: pointer;
    }

    header .toggle.active {
      background: #fff url('../img/close.png');
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1001;
    }
  }

  @media screen and (max-width: 755px) {
    .featureCollection img {
      width: 0;
      height: 0;
      visibility: hidden;
    }

    aside {
      width: 100%;
    }
  }

  @media screen and (max-width: 472px) {
    .titleHeader {
      visibility: visibible;
      width: 0;
    }

    .navBar {
      width: 60%;
      margin: auto;
    }

    .containerInicio {
      height: 60vh;
    }

    aside .title {
      font-size: 26px;
    }

    aside p {
      font-size: 18px;
      width: 85%;
    }

    form {
      width: 100%;
    }

    .featureCollection img {
      width: 0;
      height: 0;
      visibility: hidden;
    }

    .change {
      margin-top: 2px;
    }

    main aside {
      width: 100%;
    }

    .content .title {
      font-size: 26px;
      width: 90%;
    }

    .content p {
      font-size: 20px;
    }

    .feature {
      font-size: 18px;
    }

    footer .links {
      margin-top: 2%;
      justify-content: center;
      align-items: center;
      margin-bottom: 2%;
    }

    .iconLinks {
      display: none;
    }
  }

  @media screen and (max-width: 375px) {
    body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      overflow-x: hidden;
    }

    header .toggle {
      height: 45px;
      width: 45px;
    }
  }

  @media screen and (max-width: 320px) {
    form input {
      width: 80%;
    }

    header {
      flex-direction: column;
    }

    li {
      font-size: 10px;
    }
  }
}