@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Roboto mono';
}

body {
    margin: 0;
    padding: 0;
    background-color: #000633;
}

/* Código novo navbar*/
main {
    display: flex;
    flex-direction: row;
}

button {
    cursor: pointer;
}

.logoNavBar {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.navBar {
    background-color: #000633;
    color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 14%;
    height: 100vh;

    font-family: 'Roboto Mono', monospace;
}

.navBarContent {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fotoPerfil {
    margin-bottom: 20%;
}

.fotoPerfil img {
    width: 74px;
}

.contentOpcoes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.opcaoNavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 2px 2px 10px;
    font-size: 80%;
}

a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

.opcaoNavBar img {
    width: 10%;
    margin-right: 5%;
}

.exit {
    font-size: 80%;
    opacity: 50%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

.opcaoNavBar.agora {
    background-color: #ffffff78;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.aside{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #c1d3fe;
  width: 100%;
}

.titulo{
    font-family: 'Roboto Mono';
    font-size: 32px;
    font-weight:500;
    color: #000633;
    margin: 0;
}

.backTitle{
    width: 100%;
    height: 80px;
}
.titulo{
    font-family: 'Roboto Mono';
    font-size: 32px;
    font-weight:500;
    color: #000633;
    margin: 0;
}

.voltar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}

.voltar a{
  margin-right: 10px;
}

.mainSearchFunc{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    width: 90%;
    height: 80vh;
    background-color: #c1d3fe;

}

.subMainSearchFunc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.divInputSearch{
    width: 100%;
    height: 9.5vh;
}

.divInputSearch i{
    font-size: 25px;
}

.divInputSearch input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 3px 6px #00000029, 0 1px 2px #0000003b;
    font-weight: 400;
}

.divInfoFunc{
    width: 100%;
    height: 70vh;
}

.submit-lente {
    position:absolute;
    top:0; right:0;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
    height: 100%;
    width: 5%;
  }
  
  .submit-line {
    position: relative;
    width: 100%;
  }
  
  .submit-line input {
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
  }

  .divMainSearch{
    display: flex;
    width: 79vw;
    height: 70vh;
    border-radius: 35px;
    background-color: #000633;
    margin-top: 15px;
    box-shadow: 0 3px 6px #00000029, 0 1px 2px #0000003b;
    background-color: #fff;
    overflow: hidden;
  }

  .divInfoInputs{
    display: flex;
    width: 85%;
    height: 100%;
  }

  .divInfoInputs #divInfoInpus01{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }

  .divInfoInputs #divInfoInpus01 span{
    margin: 40px;
    width: 80%;
    border: 1px solid #B4BEC9;
    padding: 4px;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    outline: none;
  }

  .infoMaquina{
    font-size: 15px;
  }
  .divInfoInputs #divInfoInpus01 span .infoSpan{
    margin-left: 5px;
    font-weight: bolder;
  }

  .divInfoInputs #divInfoInpus02{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }

  .divInfoInputs #divInfoInpus02 span{
    margin: 40px;
    width: 75%;
    border: 1px solid #B4BEC9;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    outline: none;
  }

  .divInfoInputs #divInfoInpus02 span .infoSpan{
    margin-left: 5px;
    font-weight: bolder;
  }

  .infoSoMachine{
    float: right;
    width: 25%;
    height: 100%;
    background-color: #000633;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .infoSoMachine .img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px;
    background-color: #7d819e;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

.infoSoAlign{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoSoAlign span{
  margin-top: -45px;
}

  .infoSoMachine div img{
    width: 95px;
    height: 95px;  
    border-radius: 50%;
  }

  .infoSoMachine span{
    color: #fff;
    font-size: 11px;
  }

  .infoSoMachine p{
    color: #fff;
    font-weight: bolder;
  }
  
  .kipTime{
    margin-top: 100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid red;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #a5a7a931;
    margin: auto;
  }

  .kipTime p{
    font-size: 10px;
    font-weight: 400;
  }