@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
}


.titulo{
    font-family: 'Roboto Mono';
    font-size: 32px;
    font-weight:500;
    color: #000633;
    margin: 0;
}


.voltar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}

.form{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form p{
    margin-top: 80px;
    margin-bottom: 35px;
    text-align: center;
    width: 530px;
}
.form input{
    width: 40%;
    height: 35px;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 2px solid #000633;
}
.form button{
    width: 20%;
    height: 60px;
    background-color: #000633;
    color: #f5f5f5;
    cursor: pointer;
    border-radius: 5px;
}
.imgUser{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 70px;
}

.btnNovaSenha{
    margin-top: 50px;
}

