@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #ebefc9;
}

.DivLateral,
.DivLateralLogin,
.DivLateralPt2 {
    border-width: 2px;
    width: 50%;
    height: 100vh;
    background-color: #c1d3fe;
    float: left;
}

.DivA {
    border-width: 2px;
    width: 50%;
    height: 100vh;
    left: 0px;
    background-color: #000633;
    float: left;
    display: flex;
}

.DivA img {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 85vh;
    margin: 70px auto;
    background-color: #edf2fb;
    border-radius: 5px;
}

.formControl {
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
}

.formControl input {
    background-color: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    padding: 3px;
    height: 2rem;
    margin: 10px 0px 0px 0px;
    border: 2px solid #000633;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
}

.formControl input::placeholder {
    color: #adb5bd;
}

.formControl input:focus,
.formControl input:valid {
    outline: 0;
    border-bottom-color: black;
    
}

.formControl label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
    color: #adb5bd;
}

.formControl label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 
1.55);
}

.formControl input:focus + label span,
.formControl input:valid + label span {
    color: black;
    transform: translateY(-30px);
}

.container {
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.container h1 {
    font-size: 4rem;
    color: #000;
}

.container .inputLogin,
.container .inputCadastroPt2 {
    align-self: center;
    padding: 3px;
    height: 2.5rem;
    width: 300px;
    margin: 10px 0px 20px 0px;
    background-color: #edf2fb;
    border: 2px solid #000633;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    outline: none;
}

.container .labelLogin,
.container .labelCadastroPt2 {
    width: 300px;
    margin-top: 1.5rem;
}

.disabledHover {
    cursor: no-drop;
}

.container button {
    padding: 10px;
    background-color: #000633;
    color: #caf0f8;
    border: none;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
}

.container button:hover {
    transition: .3s;
    color: #c1d3fe;
    cursor: pointer;
}

.container .safePassword {
    width: 120px;
    height: 30px;
    font-size: 0.7rem;
    border-radius: 5px;
    text-align: center;
    text-align: center;
    margin:10px;
}

.container p {
    margin-top: 50px;
}

label {
    width: 100%;
    font-size: 1rem;
}

select {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    margin: 22px 0px 20px 0px;
    background-color: #edf2fb;
    border: 2px solid #000633;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.container .cardCadastro {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.cadastroEsq {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cadastroDir {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 700px) {
    .DivA {
        display: none;
    }

    .container {
        width: 100%;
    }

    .DivLateral {
        width: 100%;
        height: 160vh;
        background-color: #c1d3fe;
        float: left;
        align-items: center;
    }

    .DivLateralPt2 {
        width: 100%;
        height: 110vh;
        background-color: #c1d3fe;
        float: left;
        align-items: center;
    }

    form {
        height: 140vh;
    }

    .formPt2 {
        height: 90vh;
    }

    .formLogin {
        height: 80vh;
    }

    .DivLateralLogin {
        width: 100%;
        height: 100vh;
        background-color: #c1d3fe;
        float: left;
        align-items: center;
    }

    .container .cardCadastro {
        flex-direction: column;
        align-items: center;
    }

    .cadastroEsq,
    .cadastroDir {
        width: 95%;
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    @media only screen and (max-width: 380px) {
        form {
            width: 95%;
        }
    }
}