@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    border: none;
}

body {
    background-color: #000633;
    margin: 0;
    padding: 0;
}

/* Código novo navbar*/
main {
    display: flex;
    flex-direction: row;
}

button{
    cursor: pointer;
}

.logoNavBar {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.navBar {
    background-color:#000633;
    color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 14%;
    height: 100vh;

    font-family: 'Roboto Mono', monospace;
}

.navBarContent {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fotoPerfil {
    margin-bottom: 20%;
}

.fotoPerfil img {
    width: 74px;
}

.contentOpcoes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.opcaoNavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 2px 2px 10px;
    font-size: 80%;
}

a{
    color: #fff;
    outline: none;
    text-decoration: none;
  }

.opcaoNavBar img {
    width: 10%;
    margin-right: 5%;
}

.exit {
    font-size: 80%;
    opacity: 50%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

.opcaoNavBar.agora{
    background-color: #ffffff78;
    height: 100%;
    width:100%;
    border-radius: 4px;
  }

.titulo {
    font-family: 'Roboto Mono';
    font-size: 32px;
    font-weight: 500;
    margin-left: 5%;
}

aside {
    border-width: 2px;
    width: 100%;
    height: 100vh;
    background-color: #c1d3fe;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.contentAside{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.xpto{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.test01{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:30%;
}

.test02{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;

}

.boxMenu{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
.menuContent{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    display: flex;
    align-items: center;

}

.menuContent img{
    width: 15px;
}


#iconDownload{
    display:flex;
}

#progressoDownload{
    display: none;
}

#progressoDownload svg{
    width:15px;
    height:15px;
    position: relative;
}

circle{
    width: 10px;
    height: 10px;
    stroke: white;
    background-color: #000633;
    stroke-width: 2;
    transform: translate(5px, 5px);
    stroke-dasharray: 32;
    stroke-dashoffset: 32;
}

circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #c1d3fe;
}

circle:nth-child(2){
    transition: stroke-dashoffset 0.08s;
    stroke: #3627d9;

}

#confirmacaoDownload{
    display: none;
    background-color: rgba(0, 0, 0, 0.605);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:9999;
    top: 0;
    left: 0;
}

#confirmacaoContent{
    background-color: #fff;
    color: #000;

    width: 40vw;
    height: 45vh;
    border-radius: 14px;

    position: fixed;
    top: 30%;
    left: 30%;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.tituloConfirmacao p{
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}

.infoConfirmacao p{
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.confirmacaoSenha{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;

}
#inputSenhaBaixar{
    border: 0.9px #3627d9 solid;
    outline: #3627d9;
    border-radius: 5px;
    padding-left: 5px;
    width: 65%;
}

.confirmacaoBotao{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-bottom: 4px;
}
.confirmacaoBotao button{
    background-color: #000633;
    color: #fff;
    width: 40%;
    border-radius: 5px;

}
.opcoesMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;
    background-color: #000633;
    width: 100%;
    height: 14vh;
    border-radius: 14px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    font-family: 'Roboto';
    cursor: pointer;
}

.opcoesMenu.direito{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;
    background-color: #000633;
    width: 48%;
    height: 14vh;
    border-radius: 14px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    font-family: 'Roboto';
    cursor: pointer;
}

.ngcBranco{
    width: 100%;
    height: 60%;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ngcBranco2{
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 1px 2px rgb(0 0 0 / 23%);
}

.div01{
    width: 90%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
}

.div01.info{
    margin-top: 50px;
}

.tituloBotao{
    margin-left: 7px;
}
.informacao{
    color: #7F868C;
}

.line{
    width: 100%;
    height: 0.7px;
    background-color: #b4bec9;
    opacity:40%;
    border-radius: 14px;
}

.fontLastActivity{
    font-size: 2rem;
    font-weight: bold;
}

.imagensDiv{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    width: 98vw;
    height: 50vh;
    cursor: pointer;
}

.imagensDivItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 25%;
    height: 10%;
    align-items: center;
}

.imagensDivItem h2{
    margin-bottom: 30px;
    color: #000633;
    font-size: 35px;
    margin-top: 10px;
}
.imagensDivItem img{
    width: 110px;
    margin-bottom: 35px;
}

.imagensDivItem p{
    width: 200px;
    font-size:15px;
    
}

/* css viny */

#confirmacaoNewUser{
    display: none;
    background-color: rgba(0, 0, 0, 0.605);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:9999;
    top: 0;
    left: 0;
}

#confirmacaoContentNewUser{
    background-color: #fff;
    color: #000;
    width: 40vw;
    height: 60vh;
    border-radius: 14px;
    position: fixed;
    top: 30%;
    left: 30%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.confirmacaoSenhaNewUser{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;

}

.confirmacaoBotaoNewUser{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-bottom: 4px;
}
.confirmacaoBotaoNewUser button{
    background-color: #000633;
    color: #fff;
    width: 40%;
    border-radius: 5px;

}

.tituloConfirmacaoNewUser p{
    font-weight: 500;
    font-size: 24px;
    margin-top: -15px;
}

.inputsNewUser{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row;
    width: 100%;
    height: 150px;
    margin-top: -70px;
}

.division1{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.division2{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.inputsNewUser input{
    border: 1px solid #3627d9;
    margin: 5px;
    width:97.5%;
    height: 30px;
    padding: 5px;
    outline: none;
    border-radius: 3px;
}

.inputsNewUser label {
    margin-left: 6px;
}

.spanAviso {
    font-size: .89rem;
    margin-left: 6px;
    margin-bottom: 15px;
}

#confirmacaoNewMachine{
    display: none;
    background-color: rgba(0, 0, 0, 0.605);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:9999;
    top: 0;
    left: 0;
}

#confirmacaoContentNewMachine{
    background-color: #fff;
    color: #000;

    width: 40vw;
    height: 45vh;
    border-radius: 14px;

    position: fixed;
    top: 30%;
    left: 30%;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.confirmacaoSenhaNewMachine{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;

}

.confirmacaoBotaoNewMachine{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-bottom: 4px;
}
.confirmacaoBotaoNewMachine button{
    background-color: #000633;
    color: #fff;
    width: 40%;
    border-radius: 5px;

}

.tituloConfirmacaoNewMachine p{
    font-weight: 500;
    font-size: 24px;
    margin-top: -15px;
}

