@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --roxo-escuro: #000633;
    --roxo-claro: #3627D9;
    --cinza: #b4bec9;
    --branco: #fff;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--roxo-escuro);
}

.main {
    display: flex;
    flex-direction: row;
}

.logoNavBar {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.navBar {
    background-color: var(--roxo-escuro);
    color: var(--branco);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 14%;
    height: 100vh;

    font-family: 'Roboto Mono', monospace;
}

.navBarContent {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fotoPerfil {
    margin-bottom: 20%;
}

.fotoPerfil img {
    width: 74px;
}

.contentOpcoes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

a{
    color: #fff;
    outline: none;
    text-decoration: none;
}

.opcaoNavBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 2px 2px 10px;
    font-size: 80%;
}

.opcaoNavBar.agora{
    background-color: rgba(255, 255, 255, 0.469);
    height: 100%;
    width:100%;
    border-radius: 4px;
  }
  
.opcaoNavBar img {
    width: 10%;
    margin-right: 5%;
}

.exit {
    font-size: 80%;
    opacity: 50%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

/*Container*/

.container {
    background-color: #c1d3fe;
    border-radius: 14px 0px 0px 20px;
    width: 100vw;
}

.containerContent {
    margin-left: 5%;
}

.titulo {
    font-family: 'Roboto Mono';
    font-size: 32px;
    font-weight: medium;
    margin-bottom: 25px;
}

.informacaoGerenciamento {
    display: flex;
}

.selecionarMaquina {
    border-radius: 14px;
    width: 28%;

    background-color: var(--roxo-escuro);
    color: #fff;
    font-family: 'Roboto Mono';
}

.tituloSelecionarMaquina {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
}

.selecionar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: medium;
    margin: 0 5% 0 5%;
}

.novaMaquina {
    background-color: #b4bec910;
    border-radius: 14px 20px 20px;
    height: 17%;
}

.tituloNovaMaquina {
    font-weight: bold;
    font-size: 16px;
    margin-left: 5%;
}

.informacaoMaquina {
    background-color: var(--branco);
    color: #000;
    border-radius: 14px;
    width: 63%;
    margin-right: 5%;
}

.informacaoMaquinaSelecionada {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tituloInformacaoMaquina {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5%;
    font-family: 'RobotoMono', monospace;
}

.tituloMaquinaSelecionada {
    font-family: 'Roboto', monospace;
    font-size: 24px;
}

.line {
    height: 0.7px;
    background-color: var(--cinza);
    opacity: 40%;
    border-radius: 14px;
    width: 100%;
}

.descricaoMaquina {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    font-family: 'Roboto', monospace;
    font-size: 12px;
}

.informacao {
    display: flex;
    justify-content: space-between;
    opacity: 70%;
}

/*Opções de monitoramento*/
.opcoesMonitoramento {
    background-color: var(--branco);
    border-radius: 14px;
    width: 95%;
    /*overflow: scroll;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Roboto', monospace;
}

.opcao {
    margin-left: 1.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
