@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

body {
  background: linear-gradient(125deg, #140450 17%, #12054d 50%, #09062c 100%);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  min-height: 100vh;
  color: #fff;
  font-family: 'Roboto';
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 600px 300px 1fr 150px;

  grid-template-areas:
    'head head'
    'main main'
    'cont cont'
    'feat feat'
    'foot foot';
}

header {
  width: 100%;
  display: flex;
  grid-area: head;
}

header h1 {
  font-size: 1.5rem;
  font-weight: lighter;
}

header img {
  height: 40px;
}

header .container .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navBar ul,
a {
  list-style: none;
  display: inline-block;
  margin: 20px;
  color: #fff;
}

.navBar ul a:nth-child(2) {
  padding: 7px 9px;
  border: 1px solid #9829dd;
  color: #fff;
  border-radius: 5px;
}

main {
  grid-area: main;
}

main aside {
  display: flex;
  flex-direction: column;
}

aside .title {
  color: #e2e2e2;
  font-size: 2.5rem;
  width: 450px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

aside p {
  margin-top: 20px;
  width: 450px;
  color: #a5a5a5;
}

form {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 60%;
}

form [type='submit'] {
  font-family: 'Roboto';
  font-size: 1.25rem;
  height: 40px;
  width: 30%;
  padding: 4.5px;
  background-color: #a5a5a5;
  color: #fff;
  font-weight: bold;
  transition: 0.6s;
  text-align: center;
}

form [type='submit']:hover {
  cursor: pointer;
  background-color: #4217ff;
}

input {
  margin-top: 20px;
  height: 40px;
  width: 600px;
  padding: 0.93rem;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  outline: none;
  background-color: #2f2f30;
  color: #fff;
}

input::placeholder {
  color: #fff;
}

.content {
  grid-area: cont;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.content .title {
  font-weight: lighter;
}

.content p {
  margin-top: 20px;
  width: 900px;
  text-align: justify;

  color: #a5a5a5;
}

.content span {
  color: #9829dd;
}

footer {
  grid-area: foot;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer h1 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

article img {
  position: relative;
  top: -20px;
  height: 550px;
  animation: float 3.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.feature {
  margin-top: 100px;
  grid-area: feat;
  display: flex;
  flex-direction: column;
}
.feature .titleFeature {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 50px;
}

.titleFeature .title {
  font-weight: lighter;
  margin: 0 auto;
}

.titleFeature p {
  color: #a5a5a5;
  width: 550px;
}

.featureCollection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.featureCollection img {
  height: 400px;
}

.change {
  display: flex;
  flex-direction: column;
}

.change .cardFeature {
  margin-top: 10px;
  line-height: 30px;
}

.change .cardFeature p {
  color: #a5a5a5;
  width: 350px;
}

.change .cardFeature .iconTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.change .cardFeature .iconTitle .title {
  font-weight: lighter;
  font-size: 1.5rem;
}
