@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: #ebefc9;
}

.DivLateral, .DivLateralLogin {
    border-width: 2px;
    width: 50%;
    height: 100vh;
    background-color: #c1d3fe;
    float: left;
}

.DivA {
    border-width: 2px;
    width: 50%;
    height: 100vh;
    left: 0px;
    background-color: #000633;
    float: left;
    display: flex;
}

.DivA img {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 85vh;
    margin: 70px auto;
    background-color: #edf2fb;
    border-radius: 5px;
}

.container {
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.container h1 {
    font-size: 4rem;
    color: #000;
}

.container input {
    padding: 3px;
    height: 2.5rem;
    width: 100%;
    margin: 10px 0px 20px 0px;
    background-color: #edf2fb;
    border: 2px solid #000633;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    outline: none;
}

.container .inputLogin, .container .inputCadastroPt2 {
    align-self: center;
    padding: 3px;
    height: 2.5rem;
    width: 300px;
    margin: 10px 0px 20px 0px;
    background-color: #edf2fb;
    border: 2px solid #000633;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    outline: none;
}

.container .labelLogin, .container .labelCadastroPt2 {
    width: 300px;
    margin-top: 1.5rem;
}

.disabledHover {
    cursor: no-drop;
}

.container button {
    padding: 10px;
    background-color: #000633;
    color: #caf0f8;
    border: none;
    border-radius: 3px;
    width: 300px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
    margin-top: .5rem;
}

.container button:hover {
    transition: .3s;
    color: #c1d3fe;
}

.container p {
    margin-top: 50px;
}

label {
    width: 100%;
    font-size: 1rem;
}

select {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    margin: 10px 0px 20px 0px;
    background-color: #edf2fb;
    border: 2px solid #000633;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 3px;
    outline: none;
}

#h1 {
    margin-bottom: 25px;
}

.container .cardCadastro {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 1rem;
}

.cadastroEsq, .cadastroDir {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 700px) {
    .DivA {
        display: none;
    }

    .container {
        width: 100%;
    }

    .DivLateral {
        width: 100%;
        height: 130vh;
        background-color: #c1d3fe;
        float: left;
        align-items: center;
    }

    form {
        height: 120vh;
    }

    .formLogin {
        height: 80vh;
    }

    .DivLateralLogin {
        width: 100%;
        height: 100vh;
        background-color: #c1d3fe;
        float: left;
        align-items: center;
    }

    .container .cardCadastro {
        flex-direction: column;
        align-items: center;
    }
    
    .cadastroEsq, .cadastroDir {
        width: 95%;
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    @media only screen and (max-width: 380px) {
        form {
            width: 95%;
        }
    }
}